{% load static %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <a class="navbar-brand" href="/">WIRA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item {% if 'ceft' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/ceft">CEFT Algorithm</a>
      </li>

      <li class="nav-item {% if 'saliency' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/saliency">Saliency Detection</a>
      </li>

      <li class="nav-item {% if 'contact' in request.get_full_path %} active {% endif %}">
        <a class="nav-link" href="/contact">Contact us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="true">Admin Login</a>
      </li>
    </ul>
  </div>
</nav>



<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>



<script type="text/javascript">

window.CSRF_TOKEN = "{{ csrf_token }}";
$("#otp_verification_successful").hide();
function loginFunc() {
  console.log("Submititng form ")
  document.getElementById("loginForm").submit();
}

  var username = $("#username").val();
  console.log(username);


function send_otp(username){
      data = {
        "username": username,
        csrfmiddlewaretoken: window.CSRF_TOKEN
      }
      $.ajax({ 
          type: "post", 
          url: "/accounts/api/send-otp/",
          enctype: "multipart/form-data",
          data: data,
          success: function(e) {
            console.log('SUCCESS', e.responseText);
          },
          error: function(e) {
            console.log('FAILED', e.responseText);
          } 
        });
}

$(function(){
    console.log("YELP")

    $("#otp_verification_successful").hide();

    $("#send_otp_btn").click(function(){
      console.log("sending otp");
      username = username;
      send_otp(username);
    })

    $("#submit_otp_btn").click(function(){
      $("#submit_otp_btn").addClass('disabled');
      console.log("verifying otp");
      console.log( $('#otp_field').val())
      data = {
                "username": username,
                "otp": $('#otp_field').val(),
                csrfmiddlewaretoken: window.CSRF_TOKEN
            }
      $.ajax({ 
          type: "post", 
          url: "/accounts/api/verify/",
          enctype: "multipart/form-data",
          data: data,
          success: function(e) {
            console.log('SUCCESS', e.responseText);
            $("#otp_verification_successful").show();
            $("#close_model_btn").click();
            $("#verify_warning").hide();
          },
          error: function(e) {
            console.log('FAILED', e.responseText);
          } 
        });
    })


    $("#resend_otp_btn").click(function(){
      $("#resend_otp_btn").text("SENT");
       $("#resend_otp_btn").addClass("disabled");
      username = username;
      send_otp(username);
    })

    $("#edit_profile_btn").click(function(e){
      alert("Kindly contact site admin to edit your profile data.  Call +918919937557 or send an email to sreerammaram2@gmail.com")
    })

    $("#goto_register_btn").click(function(){
      window.location = '/register';
    })
})

</script>






