{% extends 'base.html' %}
{% load static %}

{% block head_name %} | Home {% endblock head_name %}


{% block cont_ex %}
<br/>
	<div class="h5 align_center"> CEFT Algorithm</div><hr/>
<div class='container'>
	<div class="row">
    <div class="col-6">
	<span class="h3" style="color: ">INPUT</span><hr/> 



	<form method="POST" action="/ceft" id="algorithm" class="row g-3 needs-validation" novalidate> {% csrf_token %}
  <div class="col-md-4 pb-3">
    <label for="validationServer01" class="form-label">No. of Processors</label>
    <input type="text" class="form-control" id="nprocessors" name="nprocessors" placeholder="(1-100)" required>
    <div class="valid-feedback">
      (1-100)
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">No. of Tasks</label>
    <input type="text" class="form-control" id="ntasks" name="ntasks" placeholder="(1-10000)"  required>
    <div class="valid-feedback">
      (1-10000)
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServerUsername" class="form-label">Total Dependencies</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="nedges" name="nedges" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="(1-10000)" required>

      <div id="validationServerUsernameFeedback" class="invalid-feedback">
        no
      </div>
    </div>
  </div>

  <div class="col-md-12 pb-3">
    <label for="validationTextarea" class="form-label">Execution time of tasks for each processor</label>
    <textarea class="form-control" id="processing_time" name="processing_time" placeholder="Space seperated on each line" value="" required></textarea>
    <div class="invalid-feedback">
      
    </div>
  </div>

  <div class="col-md-12">
    <label for="validationTextarea" class="form-label">Dependencies and Edge costs</label>
    <textarea class="form-control" id="edges" name="edges" placeholder="Space seperate (NODE NODE WEIGHT) on each line" value="" required></textarea>
    <div class="invalid-feedback">
      
    </div>
  </div>

  <div class="pl-3 pt-2">
  	<button  id="submitFormbtn" class="btn btn-primary" type="button">
  		<span id="submitFormbtn2"  class=" spinner-border-sm" role="status" aria-hidden="true"></span>
  		Register
  	</button>
  </div>


</form>
    </div>
    <div class="col-6">
	<span class="h3" style="color: ">GRAPH</span><hr/> 
	<img id="graph_img" width=100% src="static/noinput.jpg"/>
    </div>
  </div>
</div>

<br/>

<div class='container'>
	<div class="row">
	    <div class="col">
		<span class="h3" style="color: ">OUTPUT</span><hr/> 
	      <div class="output" id="output" style="white-space:pre-wrap;"></div>
	    </div>
	</div>
</div>


{% endblock cont_ex %}


{% block js %}




<script type="text/javascript">

$(function(){

	var form_data = {};
	window.CSRF_TOKEN = "{{ csrf_token }}";
	console.log(window.CSRF_TOKEN);

    console.log("YELP!")	
   $('input').on("keypress", function(e){

        console.log(e.currentTarget.name);
        form_data["nprocessors"] 	    = $("input[name=nprocessors]").val();
        form_data["ntasks"] 			= $("input[name=ntasks]").val();
        form_data["nedges"] 			= $("input[name=nedges]").val();
        form_data["processing_time"] 	= $("textarea[name=processing_time]").val();
        form_data["edges"]   			= $("textarea[name=edges]").val();
    });

   	$('#submitFormbtn').on("click", function(e){
   		// DISABLING BUTTON
   		console.log("SUBMITTING")
	   	$('#submitFormbtn').addClass('disabled');
	   	$('#submitFormbtn2').addClass('spinner-border');
   		console.log("Form submit")
   		e.preventDefault();
   		console.log(form_data)
        form_data["nprocessors"] 	    = $("input[name=nprocessors]").val();
        form_data["ntasks"] 			= $("input[name=ntasks]").val();
        form_data["nedges"] 			= $("input[name=nedges]").val();
        form_data["processing_time"] 	= $("textarea[name=processing_time]").val();
        form_data["edges"]   			= $("textarea[name=edges]").val();
   		// SENDING DATA
   		console.log(form_data)
   		var res = form_data["processing_time"].split("\n");
   		console.log(res);
   		const pts = []
   		for(var i = 0; i < res.length; i++){
   			console.log(res[i].split(' '));
   			pts.push(res[i].split(' ').map(Number));
   		}
   		console.log(pts)
   		form_data['processing_time'] = pts;

   		res = form_data["edges"].split("\n");
   		console.log(res);
   		const edges = []
   		for(var i = 0; i < res.length; i++){
   			console.log(res[i].split(' '));
   			edges.push(res[i].split(' ').map(Number));
   		}
   		console.log(edges)
   		form_data['edges'] = edges;

   		// form_data = {"nprocessors": 3, "ntasks": 12, "nedges": 14, 
   		// "processing_time": [ [0, 7, 11, 12, 10, 5, 9, 6, 14, 10, 11, 0],
			  //               [0 ,8 ,14 ,15, 8, 7, 7, 8, 12 ,8 ,13, 0],
			  //               [0, 9, 17, 18, 12, 6, 5, 7, 12, 6, 15, 0] ], 
			  //  "edges": [[0, 1, 0],
			  //           [1 ,2 ,16],
			  //           [1, 3, 5],
			  //           [2, 4 ,14],
			  //           [2 ,5 ,7],
			  //           [3 ,6, 8],
			  //           [3 ,7, 12],
			  //           [4 ,8, 14],
			  //           [5 ,8, 15],
			  //           [6 ,9 ,16],
			  //           [7, 9, 14],
			  //           [8, 10, 8],
			  //           [9 ,10, 17],
			  //           [10, 11, 0] ]}
		console.log("GIVING", form_data)
   		$.ajax({ 
   			dataType: 'json',
	        type: "post", 
	       	url: "api/ceft/",
	        "headers": { "Content-Type": "application/json" },
		    "data": JSON.stringify(form_data),
	        success: function(e) {
	        	console.log('SUCCESS');
		    	console.log(e.result)
	            var s = JSON.stringify(e.result)
	            $('#output').html(s.replace(/\n/g, "<br />"));
	            $("#graph_img").attr("src", e.image);
	            $('#submitFormbtn2').removeClass('spinner-border');	

	        },
	        error: function(e) {
	        	console.log('FAILED');
	        	console.log(e.responseText);
	            $('#submitFormbtn2').removeClass('spinner-border');	
	        } 
        });
   })


});
</script>


{% endblock %}

















