{% extends 'base.html' %}
{% load static %}

{% block head_name %} | Home {% endblock head_name %}

{% block cont_ex %}

<div class="container pb-2 pt-2">
	<b>ID:</b> {{image.id}} <br/>
	<b>Name:</b> {{image.name}} <br/>
	<b>Share results using URL:</b> <a href="http://13.235.13.185:8000{{ request.path }}"> http://13.235.13.185:8000{{ request.path }}</a>
</div>

<hr/>
<div class="container-fluid pl-5 pr-5">
	<h2 style="color: red;"><u>Final Crops</u></h2>
	<div class="row pb-4">
		<div class="col-4">
			Most Salient Coordinate: ({{image.topFeature_x}}, {{image.topFeature_y}}) <br/>
			Main Components Salient Centre: ({{image.topFeature_x}}, {{image.topFeature_y}}) <br/>
			No. of contours taken: 4 <br/>
			Contour 1: Point({{image.contour1_x}}, {{image.contour1_y}}) | Size:  {{image.contour1_size}}<br/>
			Contour 2: Point({{image.contour2_x}}, {{image.contour2_y}}) | Size:  {{image.contour2_size}}<br/>
			Contour 3: Point({{image.contour3_x}}, {{image.contour3_y}}) | Size:  {{image.contour3_size}}<br/>
			Contour 4: Point({{image.contour4_x}}, {{image.contour4_y}}) | Size:  {{image.contour4_size}}<br/>

		</div>
		<div class="col-4">
			<h4>Aspect Ratio: 10:16 (0.615)</h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/0.3125.jpeg"/>
		</div>
		<div class="col-4">
			<h4>Aspect Ratio: 5:16 (0.3125)</h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/0.3125.jpeg"/>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<h4>Aspect Ratio: 1:1 (1)</h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/1.0.jpeg"/>
		</div>
		<div class="col-4">
			<h4>Aspect Ratio: 16:14 (1.14)</h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/1.14.jpeg"/>
		</div>
		<div class="col-4">
			<h4>Aspect Ratio: 18:9 (2)</h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/2.jpeg"/>
		</div>
	</div>
</div>
<hr/>

<div class="container pt-4">
	<h2 style="color: red;"><u>Heat Map Analysis </u> (ML Model)</h2>
	<div class="row ph-4">
		<div class="col-4">
			<h4> Original Image: </h4>
			<img class="img-responsive" src="/static/images/{{image.name}}.jpeg" />

		</div>
		<div class="col-4">
			<h4> Heat Map: </h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/heat_map.jpeg" />
			
		</div>
		<div class="col-4">
			<h4> Top Features: </h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/top_feature.jpeg" />
			
		</div>
	</div>
</div>
<hr/>

<div class="container pt-4">
	<h2 style="color: red;"><u>Contours Analysis </u> (Back Projection)</h2>
	<div class="row ph-4">
		<div class="col-4">
			<h4> Original Image: </h4>
			<img class="img-responsive" src="/static/images/{{image.name}}.jpeg" />

		</div>
		<div class="col-4">
			<h4> Contours: </h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/back_projection/contours.jpeg" />
			
		</div>
		<div class="col-4">
			<h4> Contours Hotspots: </h4>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/back_projection/contours_hotspots.jpeg" />
			
		</div>
	</div>
</div>
<hr/>

<div class="container pt-4">
	<h2 style="color: red;"><u>Top feature Crop </u></h2>
	<div class="row ph-4">
		<div class="col-2">
			<h5> Original Image: </h5>
			<img class="img-responsive" src="/static/images/{{image.name}}.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 10:16 (0.615) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/0.3125.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 5:16 (0.3125) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/0.625.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 1:1 (1) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/1.0.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 16:14 (1.14) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/1.14.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 18:9 (2) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/twitter/2.jpeg" />
		</div>
	</div>
</div>
<hr/>

<div class="container pt-4">
	<h2 style="color: red;"><u>Main Components Crop </u></h2>
	<div class="row ph-4">
		<div class="col-2">
			<h5> Original Image: </h5>
			<img class="img-responsive" src="/static/images/{{image.name}}.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 10:16 (0.615) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/main_components/0.3125.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 5:16 (0.3125) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/main_components/0.625.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 1:1 (1) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/main_components/1.0.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 16:14 (1.14) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/main_components/1.14.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 18:9 (2) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/main_components/2.jpeg" />
		</div>
	</div>
</div>
<hr/>

<div class="container pt-4">
	<h2 style="color: red;"><u>Inclusivity Crop </u></h2>
	<div class="row ph-4 no-gutters">
		<div class="col-2">
			<h5> Original Image: </h5>
			<img class="img-responsive" src="/static/images/{{image.name}}.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 10:16 (0.615) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/0.3125.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 5:16 (0.3125) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/0.625.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 1:1 (1) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/1.0.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 16:14 (1.14) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/1.14.jpeg" />
		</div>
		<div class="col-2">
			<h5> Aspect Ratio: 18:9 (2) </h5>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/my_crops/2.jpeg" />
		</div>
	</div>
</div>

{% endblock %} 

{% block js %}{% endblock %}




