{% extends 'base.html' %}
{% load static %}

{% block head_name %} | Home {% endblock head_name %}

{% block cont_ex %}

<div class="container pb-3">
	<b>ID:</b> {{image.id}} <br/>
	<b>Name:</b> {{image.name}} <br/>
	<b>Share results using URL:</b> <a href="http://13.235.13.185:8000{{ request.path }}"> http://13.235.13.185:8000{{ request.path }}</a>
</div>

<div class="container">
	<div class="row pb-4">
		<div class="col-6">
			<h3>Aspect Ratio: .615</h3>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/0.3125.jpeg"/>
		</div>
		<div class="col-6">
			<h3>Aspect Ratio: .312</h3>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/0.3125.jpeg"/>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<h3>Aspect Ratio: 1</h3>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/1.0.jpeg"/>
		</div>
		<div class="col-4">
			<h3>Aspect Ratio: 1.14</h3>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/1.14.jpeg"/>
		</div>
		<div class="col-4">
			<h3>Aspect Ratio: 2</h3>
			<img class="img-responsive" src="/static/saliency_outputs/{{image.name}}/2.jpeg"/>
		</div>
	</div>
</div>

{% endblock %} 

{% block js %}{% endblock %}